{% include 'header2.html' %}


<div class="manage-account-headers container-fluid">
    <div class="container">
        <div class="row">
            <div class="col" id="profile">
                <h5>Coaches</h5>
                <p class="account-text">Manage coach profiles.</p>
            </div>
            <div class="col">
                <div class="right-items">
                    <h6>Create a new Coach</h6>
                    <a href="{{url_for('add_coach')}}">
                        <button class="btn btn-primary admin-btn">Create Coach</button>
                    </a>
                </div>
                <div class="right-items">
                    <h6>Edit Coaches</h6>
                    <a href="{{url_for('view', data_type='coaches')}}">
                        <button class="btn btn-primary admin-btn">Edit Coach</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="manage-account-headers container-fluid">
    <div class="container">
        <div class="row">
            <div class="col" id="password">
                <h5>Players</h5>
                <p class="account-text">View player data.</p>
            </div>
            <div class="col">
                <div class="right-items">
                    <h6>View Players</h6>
                    <a href="{{url_for('view', data_type='players')}}">
                        <button class="btn btn-primary admin-btn">All Players</button>
                    </a>
                </div>
                <div class="right-items">
                    <h6>View Schools</h6>
                    <a href="{{url_for('add_coach')}}">
                        <button class="btn btn-primary admin-btn">All Schools</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}