{% include 'header2.html' %}
<div class="container">
    <div  class="d-flex justify-content-center">
        <div id="edit-form" class="container">


            <h1>{{player.name}}</h1>
            <h5>{{player.school}}</h5>
            <br/>
            <br/>
            <form action="{{url_for('edit', email=email, id=player.id) }}" method="POST">
                <h4>Edit Player</h4>
                <div class="mb-3">
                    <label for="player-name" class="form-label">Name</label>
                    <input type="text" class="form-control" value="{{player.name}}" id="player-name" name="name"/>
                </div>
                <div class="mb-3">
                    <label for="player-name" class="form-label">Birth Month (MM)</label>
                    <input type="text" class="form-control" value="{{month}}" id="player-month" name="month"/>
                </div>
                <div class="mb-3">
                    <label for="player-name" class="form-label">Birth Year (YYY)</label>
                    <input type="text" class="form-control" value="{{year}}" id="player-year" name="year"/>
                </div>
                <a href="{{url_for('coach_view', email=email)}}" ><button class="btn btn-block btn-danger">Cancel</button></a>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}