{% include 'header2.html' %}

<div class="container-fluid">
    <div class="container">
        <table class="table">
            {% if players: %}
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">School</th>
            </tr>
                {% for item in items: %}
             <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.born_in}}</td>
                    <td>{{item.school}}</td>
                  </tr>
                {% endfor %}
            {% else: %}
            <tr>
                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
                <tr>
                {% for item in items: %}
                    {% if item.school != 'Admin': %}
                <tr>
                    <td>{{item.first_name}} {{item.last_name}}</td>
                    <td>{{item.school}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.phone_number}}</td>
                    <td>
                        <a class="action-icons" href="#"><i class="fas fa-user-times"></i></a>
                        <a class="action-icons" href="#"><i class="fas fa-edit"></i></a>
                    </td>
            </tr>
                {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
        </table>


    </div>
</div>

{% include 'footer.html' %}